body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.movie {
    text-align: center;
    width: calc(25% - 40px); /* 4 элемента в ряд, вычтем отступы */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Добавим небольшую тень */
}

.movie h3 {
    font-size: 1.2em; /* Увеличим размер шрифта для названий */
    margin-top: 0; /* Уберем верхний отступ */
    text-decoration: none; /* Убираем стандартное оформление ссылки */
    display: block; /* Делаем названия блочными элементами */
    padding: 10px; /* Добавим отступ вокруг текста */
    background-color: lightgrey; /* Установим цвет фона */
    border-radius: 5px; /* Закруглим углы */
    cursor: default; /* Отключим курсор для текста */
}

.movie img {
    width: 100%;
    height: 90%; /* Задай высоту изображений, чтобы они были одного размера */
    object-fit: cover; /* Обрежь изображения до заданных размеров */
    border-radius: 5px 5px 0 0; /* Округлим углы изображения */
}


.movie a:hover {
    opacity: 0.7; /* При наведении на ссылку уменьшим немного прозрачность */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

header a {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

header a:hover {
    background-color: #555;
}

.film-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.film-details {
    flex: 1;
    padding-right: 20px;
    max-width: 70%;
    text-align: justify; /* Выравниваем текст по ширине */
}

.film-details h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center; /* Центрируем название */
}

.film-details p {
    font-size: 20px;
    line-height: 1.6;
}

.film-poster {
    max-width: 30%; /* Сокращаем постер до 30% */
}

.film-poster img {
    max-width: 100%;
    height: auto;
}